

<div class="page-title">Administration</div>

<div class="bo_menu">
<a class="bo_menuitem" href="/admin">Tableau de bord</a><!--
--><a class="bo_menuitem {{admin.selected.users}}" href="/admin/users">Utilisateurs</a><!--
--><a class="bo_menuitem {{admin.selected.articles}}" href="/admin/articles">Articles</a><!--
--><a class="bo_menuitem {{admin.selected.news}}" href="/admin/news">News</a><!--
--><a class="bo_menuitem {{admin.selected.shareables}}" href="/admin/shareables">Partages</a>
</div>

<div class="article-content">
    <h1>{{admin.title}}</h1>
    
    {{#each admin.buttons}}
        <a href="{{link}}" class="{{class}}">{{label}}</a>
    {{/each}}
    
    <table>
        <tr>
            {{#each admin.columns}}
            <th>{{text}}</th>
            {{/each}}
        </tr>
        {{#each admin.lines}}
        <tr>
            {{#each .}}
            <td>
                {{#if input}}
                    <input type="{{input}}" value="{{text}}" name="{{id}}" id="{{id}}"  form="{{../uid}}"
                       {{#if action}}formaction="{{action}}" {{/if}} 
                       {{#if class}}class="{{class}}"{{/if}} 
                       {{attributes}}>
                {{else}}
                    {{#if link}}
                        <a href="{{link}}" {{#if class}}class="{{class}}"{{/if}} {{attributes}}>{{text}}</a>
                    {{else}}
                        <div {{#if class}}class="{{class}}"{{/if}} {{attributes}}>{{text}}</div>
                    {{/if}}
                {{/if}}
            </td>
            {{/each}}
            <td><form id="{{uid}}" method="post"></form></td>
        </tr>
        {{/each}}
    </table>
    
	{{#if nextPage}}
	<a class="next-page" href="/admin/{{type}}/page/{{nextPage}}">plus</a>
	{{else}}
	<a class="next-page" href="/admin/{{type}}/page/2">plus</a>
	{{/if}}
	
    {{#ifContains htmlAfter 'userDescription'}}
    <div class="alert">
        <p>
            Les valeurs <strong>rang</strong> peuvent prendre ces valeurs:
        </p>
        <table>
            <tr>
                <th>Fonctionnalité</th>
                <th>Dieu</th>
                <th>Admin</th>
                <th>Publieur</th>
                <th>Utilisateur</th>
                <th>Non connecté</th>
            </tr>
            <tr>
                <td>Chat</td>
                <td><i class="fa fa-check" style="font-size:32px;color:green"></i></td>
                <td><i class="fa fa-check" style="font-size:32px;color:green"></i></td>
                <td><i class="fa fa-check" style="font-size:32px;color:green"></i></td>
                <td><i class="fa fa-check" style="font-size:32px;color:green"></i></td>
                <td><i class="fa fa-close" style="font-size:32px;color:red"></i></td>
            </tr>
            <tr>
                <td>Création d'article et partages</td>
                <td><i class="fa fa-check" style="font-size:32px;color:green"></i></td>
                <td><i class="fa fa-check" style="font-size:32px;color:green"></i></td>
                <td><i class="fa fa-check" style="font-size:32px;color:green"></i></td>
                <td><i class="fa fa-close" style="font-size:32px;color:red"></i></td>
                <td><i class="fa fa-close" style="font-size:32px;color:red"></i></td>
            </tr>
			<tr>
                <td>Modification/Edition de documents</td>
                <td><i class="fa fa-check" style="font-size:32px;color:green"></i></td>
                <td><i class="fa fa-check" style="font-size:32px;color:green"></i></td>
                <td><i class="fa fa-close" style="font-size:32px;color:red"></i></td>
                <td><i class="fa fa-close" style="font-size:32px;color:red"></i></td>
                <td><i class="fa fa-close" style="font-size:32px;color:red"></i></td>
            </tr>
            <tr>
                <td>Accès aux back-office</td>
                <td><i class="fa fa-check" style="font-size:32px;color:green"></i></td>
                <td><i class="fa fa-check" style="font-size:32px;color:green"></i></td>
                <td><i class="fa fa-close" style="font-size:32px;color:red"></i></td>
                <td><i class="fa fa-close" style="font-size:32px;color:red"></i></td>
                <td><i class="fa fa-close" style="font-size:32px;color:red"></i></td>
            </tr>
            <tr>
                <td>Création de news</td>
                <td><i class="fa fa-check" style="font-size:32px;color:green"></i></td>
                <td><i class="fa fa-check" style="font-size:32px;color:green"></i></td>
                <td><i class="fa fa-close" style="font-size:32px;color:red"></i></td>
                <td><i class="fa fa-close" style="font-size:32px;color:red"></i></td>
                <td><i class="fa fa-close" style="font-size:32px;color:red"></i></td>
            </tr>
            <tr>
                <td>Promotion d'utilisateur (*)</td>
                <td><i class="fa fa-check" style="font-size:32px;color:green"></i></td>
                <td><i class="fa fa-check" style="font-size:32px;color:green"></i></td>
                <td><i class="fa fa-close" style="font-size:32px;color:red"></i></td>
                <td><i class="fa fa-close" style="font-size:32px;color:red"></i></td>
                <td><i class="fa fa-close" style="font-size:32px;color:red"></i></td>
            </tr>
            <tr>
                <td>Suppression d'utilisateur</td>
                <td><i class="fa fa-check" style="font-size:32px;color:green"></i></td>
                <td><i class="fa fa-close" style="font-size:32px;color:red"></i></td>
                <td><i class="fa fa-close" style="font-size:32px;color:red"></i></td>
                <td><i class="fa fa-close" style="font-size:32px;color:red"></i></td>
                <td><i class="fa fa-close" style="font-size:32px;color:red"></i></td>
            </tr>
        </table>
        <p>
            (*): Seul Dieu peux promouvoir un utilisateur en admin.
        </p>
    </div>
    {{/ifContains}}
    
</div>
