
<div class="page-title">Résultats</div>
<!--
{{#if global.query.text}}
<div>Pour la recherche "{{global.query.text}}"</div>
{{else}}
	{{#if global.query.tag}}
	<div>Pour le tag "{{global.query.tag}}"</div>
	{{/if}}
{{/if}}
-->


<ul class="search-tab">
	<li><a href="#articles" tab="articles" class="selected"><i class="fa fa-file-text-o"></i> Articles ({{resultFound.articles.length}})</a></li>
	<li><a href="#shared" tab="shared"><i class="fa fa-file"></i>  Documents ({{resultFound.shareable.length}})</a></li>
	<li><a href="#news" tab="news"><i class="fa fa-newspaper-o"></i> News ({{resultFound.news.length}})</a></li>
</ul>


<div id="search-result-articles">
	{{#if resultFound.articles}}
		<div class="list-container">
		{{#each resultFound.articles}}

		<div class="list-element">
			<a href="/article/{{shortName}}" class="list-title">{{name}}</a>
			Par<a href="/user/{{author}}" class="meta user">{{author}}</a>le<div class="meta date">{{stringPublicationDate}}</div>
			<p>{{extract}}...</p>

			{{#each tags}}
			<a href="/search?tag={{tag}}" class="meta tag"><i class="fa fa-tag"></i> {{tag}}</a>
			{{/each}}

		</div>

	{{/each}}
	</div>
	{{/if}}

</div>
<div id="search-result-shared">
	{{#if resultFound.shareable}}
		<div class="list-container">
			{{#each resultFound.shareable}}
			<div class="list-element">
				<a href="/shared/{{shortName}}" class="list-title">{{name}}</a>
				Par<a href="/user/{{author}}" class="meta user">{{author}}</a>le<div class="meta date">{{stringPublicationDate}}</div>
				<p></p>{{extract}}...</p>
				<a class="file-box" href="/shared/{{shortName}}">
					<img class="file-icon" src="/icons/ext/{{uploadedObject.extension}}.png"/> 
					<div class="file-description">
						<div class="file-name">{{uploadedObject.name}}</div>
						<div class="file-size">{{uploadedObject.size}}</div>
					</div>
				</a>
				{{#each tags}}
				<a href="/search?tag={{tag}}" class="meta tag"><i class="fa fa-tag"></i> {{tag}}</a>
				{{/each}}
			</div>
			{{/each}}
		</div>
	{{/if}}
</div>

<div id="search-result-news">
	{{#if resultFound.news}}
		<div class="list-container">
		{{#each resultFound.news}}

		<div class="list-element">
			<a href="/article/{{shortName}}" class="list-title">{{name}}</a>
			Par<a href="/user/{{author}}" class="meta user">{{author}}</a>le<div class="meta date">{{stringPublicationDate}}</div>
			<p>{{extract}}...</p>

			{{#each tags}}
			<a href="/search?tag={{tag}}" class="meta tag"><i class="fa fa-tag"></i> {{tag}}</a>
			{{/each}}

		</div>

	{{/each}}
	</div>
	{{/if}}
</div>









