<div class="page-title">
    {{pageTitle}}
</div>

{{#if isnews}}

{{else}}
	{{#ifContains privileges 'article_post'}}
	<a class="button add" href="/new/article"><i class="fa fa-plus"></i> Nouveau</a>
	{{/ifContains}}
{{/if}}

<div class="list-container">

    {{#each articles}}
    
    <div class="list-element">
        <a href="/article/{{shortName}}" class="list-title">{{name}}</a>
        Par<a href="/user/{{author}}" class="meta user">{{author}}</a><div class="meta date">{{stringPublicationDate}}</div>
        <div class="list-extract">{{extract}}...</div>
    
        {{#each tags}}
        <a href="/search?tag={{tag}}" class="meta tag"><i class="fa fa-tag"></i> {{tag}}</a>
        {{/each}}
    
    </div>

    {{/each}}
    
</div>
{{#if isnews}}
	{{#if nextPage}}
	<a class="next-page right" href="/news/page/{{nextPage}}">plus</a>
	{{else}}
	<a class="next-page right" href="/news/page/2">plus</a>
	{{/if}}
{{else}}
	{{#if nextPage}}
	<a class="next-page right" href="/article/page/{{nextPage}}">plus</a>
	{{else}}
	<a class="next-page right" href="/article/page/2">plus</a>
	{{/if}}
{{/if}}
