
<div class="website-title">
    Pire to Pire</div>
    
<div>
    
    <div class="section" id="news">
        <h1><i class="fa fa-newspaper-o"></i> Dernières news</h1>
        <div class="list-container">

        {{#each news}}
    
            <div class="list-element">
                <a href="/article/{{id}}" class="list-title">{{name}}</a>
                Par<a href="/user/{{author}}" class="meta user">{{author}}</a>le<div class="meta date">{{stringPublicationDate}}</div>
                <p>{{extract}}...</p>

                {{#each tags}}
                <a href="/search?tag={{tag}}" class="meta tag"><i class="fa fa-tag"></i> {{tag}}</a>
                {{/each}}

            </div>

        {{/each}}
            
        </div>
		<a href="/news">Voir plus...</a>
    </div>
    
    <div class="section" id="articles">
        <h1><i class="fa fa-file-text-o"></i> Derniers articles</h1>
        <div class="list-container">

        {{#each articles}}
    
            <div class="list-element">
                <a href="/article/{{id}}" class="list-title">{{name}}</a>
                Par<a href="/user/{{author}}" class="meta user">{{author}}</a>le<div class="meta date">{{stringPublicationDate}}</div>
                <p>{{extract}}...</p>

                {{#each tags}}
                <a href="/search?tag={{tag}}" class="meta tag"><i class="fa fa-tag"></i> {{tag}}</a>
                {{/each}}

            </div>

        {{/each}}
            
        </div>
		<a href="/article">Voir plus...</a>
    </div>
    
    <div class="section" id="shared">
        <h1><i class="fa fa-file"></i> Derniers documents</h1>
        
        <div class="list-container">
            {{#each shareables}}
            <div class="list-element">
                <a href="/shared/{{id}}" class="list-title">{{name}}</a>
                Par<a href="/user/{{author}}" class="meta user">{{author}}</a>le<div class="meta date">{{stringPublicationDate}}</div>
				<p>{{extract}}...</p>
                <a class="file-box" href="/shared/{{id}}">
                    <img class="file-icon" src="/icons/ext/{{uploadedObject.extension}}.png"/> 
                    <div class="file-description">
                        <div class="file-name">{{uploadedObject.name}}</div>
                        <div class="file-size">{{uploadedObject.size}}</div>
                    </div>
                </a>
                {{#each tags}}
                <a href="/search?tag={{tag}}" class="meta tag"><i class="fa fa-tag"></i> {{tag}}</a>
                {{/each}}
            </div>
            {{/each}}
        </div>
		<a href="/shared">Voir plus...</a>
    </div>
    
    <div class="section" id="chat">
        <h1><i class="fa fa-bomb"></i> Coin trash</h1>
        <div class="chat">
            <div id="chat-zone">
				<div class="in">
				{{#each previousChatMessage}}
					<div class="chat-message">
						<div class="chat-date meta date">({{stringDate}})</div>
						<a href="user/{{author}}" class="chat-author meta user">{{author}}</a>:
						<div class="chat-content">{{{message}}}</div>
					</div>
				{{/each}}
				</div>
			</div>
			{{#ifContains global.privileges 'chat_talk'}} 
			<form action="" id="chat_form">
				<input id="message" type="text" autocomplete="off"/><!--
				--><input id="message_author" type="hidden" value="{{userLogin}}"/><!--
				--><input id="message_keyauth" type="hidden" value="{{keyAuth}}"/><!--
				--><button class="button">Send</button>
			</form>
			{{/ifContains}}
			
        </div>
    </div>
    
</div>
