<div class="page-title">
    Partages
</div>

{{#ifContains privileges 'shareable_post'}}
<a class="button add" href="/new/shared"><i class="fa fa-plus"></i> Importer un nouveau document</a>
{{/ifContains}}

{{#if shareables}}
<div class="list-container">
    {{#each shareables}}
    <div class="list-element card">
        <a href="/shared/{{shortName}}" class="list-title">{{name}}</a>
        Par<a href="/user/{{author}}" class="meta user">{{author}}</a>le<div class="meta date">{{stringPublicationDate}}</div>
        <a class="file-box" href="/shared/{{shortName}}">
            <img class="file-icon" src="/icons/ext/{{uploadedObject.extension}}.png"/> 
            <div class="file-description">
                <div class="file-name">{{uploadedObject.name}}</div>
                <div class="file-size">{{uploadedObject.size}}</div>
            </div>
        </a>
        {{#each tags}}
        <a href="/search?tag={{tag}}" class="meta tag"><i class="fa fa-tag"></i> {{tag}}</a>
        {{/each}}
    </div>
    {{/each}}
</div>
{{/if}}