<div class="page-title">
    Documents
</div>

{{#ifContains global.privileges 'shareable_post'}}
<a class="button add" href="/new/shared"><i class="fa fa-plus"></i> Importer un nouveau document</a>
{{/ifContains}}


<div class="list-container">
    {{#each shareables}}
    <div class="list-element">
        <a href="/shared/{{id}}" class="list-title">{{name}}</a>
        Par<a href="/user/{{author}}" class="meta user">{{author}}</a><div class="meta date">{{stringPublicationDate}}</div>
        <p></p>{{extract}}...</p>
		<a class="file-box" href="/shared/{{id}}">
            <img class="file-icon" src="/icons/ext/{{uploadedObject.extension}}.png"/> 
            <div class="file-description">
                <div class="file-name">{{uploadedObject.name}}</div>
                <div class="file-size">{{uploadedObject.stringSize}}</div>
            </div>
        </a>
        {{#each tags}}
        <a href="/search?tag={{tag}}" class="meta tag"><i class="fa fa-tag"></i> {{tag}}</a>
        {{/each}}
    </div>
    {{/each}}
</div>

{{#if pagination}}
<div class="pagination">
    {{#if pagination.firstpage}}<a class="firstpage" href="{{pagination.url}}/1">&lt;&lt;</a>{{/if}}<!--
    -->{{#if pagination.previous}}<a class="previous" href="{{pagination.url}}/{{pagination.previous}}">&lt;</a>{{/if}}<!--
    -->{{#each pagination.beforepages}}<a class="beforepages" href="{{../pagination.url}}/{{.}}">{{.}}</a>{{/each}}<!--
    -->{{#if pagination.current}}<div class="current">{{pagination.current}}</div>{{/if}}<!--
    -->{{#each pagination.afterpages}}<a class="afterpages" href="{{../pagination.url}}/{{.}}">{{.}}</a>{{/each}}<!--
    -->{{#if pagination.next}}<a class="next" href="{{pagination.url}}/{{pagination.next}}">&gt;</a>{{/if}}<!--
    -->{{#if pagination.lastpage}}<a class="lastpage" href="{{pagination.url}}/{{pagination.lastpage}}">&gt;&gt;</a>{{/if}}
</div>
{{/if}}