{{#if shareable}}

<article class="article-content" style="text-align:justify;">
	
	{{#ifContains global.privileges 'edit_document'}}
	<a class="button add" href="/edit/shared/{{shareable.id}}"><i class="fa fa-edit"></i> Editer le document</a>
	{{/ifContains}}
	
    <div class="list-title">{{shareable.name}}</div>
    
    Par <a href="/user/{{shareable.author}}" class="meta user">
        {{shareable.author}}
    </a><div class="meta date">
        {{shareable.stringPublicationDate}}
    </div>
    {{#if shareable.modificationDate}}
	<div class="meta date">(modifié {{shareable.stringModificationDate}})</div>
	{{/if}}
	
    <br><hr><br>
    
     <a class="file-box" href="/uploads/{{shareable.uploadedObject.location}}">
        <img class="file-icon" src="/icons/ext/{{shareable.uploadedObject.extension}}.png"/> 
        <div class="file-description">
            <div class="file-name">{{shareable.uploadedObject.name}}</div>
            <div class="file-size">{{shareable.uploadedObject.stringSize}}</div>
        </div>
    </a>
    
    {{ shareable.description }}

    <br><br><hr>
    
	<form method="POST" action="/api/vote/shared" class="noaction vote upvote">
		<input type="hidden" name="sharedid" value="{{shareable.id}}">
		<button class="async-call"><i class="fa fa-arrow-up"></i><div class="num">{{shareable.upvoteNumber}}</div></button>
	</form>
	<form method="POST" action="/api/vote/shared" class="noaction vote downvote">
		
		<input type="hidden" name="sharedid" value="{{shareable.id}}">
		<input type="hidden" name="downvote" value="true">
		<button class="async-call"><i class="fa fa-arrow-down"></i><div class="num">{{shareable.downvoteNumber}}</div></button>
	</form>
	<br>
    {{#each shareable.tags}}
    <a href="/search?tag={{tag}}" class="meta tag"><i class="fa fa-tag"></i> {{tag}}</a>
    {{/each}}   
    
    <h2>Commentaires</h2>
    {{#ifContains global.privileges 'shareable_post'}}
    <form method="POST" action="/comment/shared">
        <textarea name="comment" class="comments-text" placeholder="Votre commentaire..." required></textarea>
        <input type="hidden" name="sharedId" value="{{shareable.id}}">
        <button class="button add">Valider</button>
    </form>
    {{/ifContains}}
    
    {{#if shareable.comments}}
        {{#each shareable.comments}}
            <div class="comment-box">
                <a href="/user/{{author}}" class="meta user">{{author}}</a>-<div class="meta date">{{stringDate}}</div>
                <div class="comment">
                    {{content}}
                </div>
            </div>
        {{/each}}
    {{else}}
        <p>Aucun commentaire pour le moment.</p>
    {{/if}}
</article>


{{else}}

<div class="page-title">Document introuvable</div>

<div class="article-content">
    <a href="/" class="button">Retour à la page principale</a>
</div>

{{/if}}