{{#if shareable}}

<article class="article-content" style="text-align:justify;">
    <div class="list-title">{{shareable.name}}</div>
    
    Par <a href="/user/{{shareable.author}}" class="meta user">
        {{shareable.author}}
    </a>le<div class="meta date">
        {{shareable.stringPublicationDate}}
    </div>
    
    <br><hr><br>
    
     <a class="file-box" href="/uploads/{{shareable.uploadedObject.location}}">
        <img class="file-icon" src="/icons/ext/{{shareable.uploadedObject.extension}}.png"/> 
        <div class="file-description">
            <div class="file-name">{{shareable.uploadedObject.name}}</div>
            <div class="file-size">{{shareable.uploadedObject.size}}</div>
        </div>
    </a>
    
    {{{ shareable.description }}}

    <br><br><hr>
    
    {{#each shareable.tags}}
    <a href="/search?tag={{tag}}" class="meta tag"><i class="fa fa-tag"></i> {{tag}}</a>
    {{/each}}    
</article>


{{else}}

<div class="page-title">Document introuvable</div>

<div class="article-content">
    <a href="/" class="button">Retour à la page principale</a>
</div>

{{/if}}