

<div class="page-title">#{{global.userName}}</div>

<div class="bo_menu">
   <a class="bo_menuitem selected" href="/profile/options">Options</a><!--
--><a class="bo_menuitem " href="/profile/inbox">Messagerie</a>
</div>

<div class="article-content" style="padding-bottom: 60px;">

    <form  method="post" action="/api/update/profile">
        
        {{!<div class="form-data-couple">
            <label class="input-label">Pseudo *</label>
            <input type="text" name="pseudo" value="{profile.pseudo}" placeholder="BogossDu69 ?" 
                    oninvalid="setCustomValidity('Veuillez rentrer un pseudo valide.')" onchange="try{setCustomValidity('')}catch(e){}"
                    required>
        </div>}}
        
        <div class="form-data-couple">
            <label class="input-label">Nom</label>
            <input type="text" name="fullName" value="{{profile.fullName}}" placeholder="Votre vrai nom, bien sur!" >
        </div>
        
        <div class="form-data-couple">
            <label class="input-label">Pays</label>
            <input type="text" name="geo_country" value="{{profile.geo.country}}" placeholder="Canada ?" >
        </div>
        
        <div class="form-data-couple">
            <label class="input-label">Ville</label>
            <input type="text" name="geo_city" value="{{profile.geo.city}}" placeholder="Matane ?" >
        </div>
        
        
        <input type="submit" class="button valid" value="Enregistrer les modifications">
    </form>
    <br>
    
    <form method="POST" action="/api/photo" enctype = "multipart/form-data">
        {{#if profile.picture}}
        <img class="profile-picture round" src="/uploads/{{profile.picture}}" >
        {{/if}}
        <input accept=".png,.jpg" type="file" name="profile_picture" class="profile-file-input">
        <br>
        <input type="submit" class="button valid" value="Valider la photo">
    </form>
    <br>
    
    <form method="post" action="/api/update/password">
         <div class="form-data-couple">
            <label class="input-label">Ancien mot de passe</label>
            <input type="password" name="old_password" required>
        </div>
        
         <div class="form-data-couple">
            <label class="input-label">Nouveau mot de passe</label>
            <input type="password" name="new_password1" required>
        </div>
        
        <div class="form-data-couple">
            <label class="input-label">Répéter le mot de passe</label>
            <input type="password" name="new_password2" required>
        </div>
        
        <input type="submit" class="button valid" value="Modifier le mot de passe">
    </form>
    
    <br>
    <a href="/logout" class="button danger pull-right">Déconnection</a>

    
</div>

