
<article class="article-content">
    {{#if profile}}
    
    {{#if profile.picture}}
        <img id="profile-pic" class="profile-picture round center" src="/uploads/{{profile.picture}}" style="vertical-align:middle;">
    {{else}}
        <img id="profile-pic" class="profile-picture round center" src="/images/noProfilePic.png" style="vertical-align:middle;">
    {{/if}} 
    <h1 class="center">{{profile.login}}</h1>
    
    <div class="form-data-couple">
        <label class="input-label">Nom</label>
        <div class="data">{{profile.fullName}}</div>
    </div>

    <div class="form-data-couple">
        <label class="input-label">Pays</label>
        <div class="data">{{profile.geo.country}}</div>
    </div>

    <div class="form-data-couple">
        <label class="input-label">Ville</label>
        <div class="data">{{profile.geo.city}}</div>
    </div>
</article>

{{#if articles}}
<h1><i class="fa fa-file-text-o"></i> Articles de {{profile.login}}</h1>
<div class="list-container">

{{#each articles}}

    <div class="list-element">
        <a href="/article/{{id}}" class="list-title">{{name}}</a>
        Par<a href="/user/{{author}}" class="meta user">{{author}}</a>le<div class="meta date">{{stringPublicationDate}}</div>
        <p>{{extract}}...</p>

        {{#each tags}}
        <a href="/search?tag={{tag}}" class="meta tag"><i class="fa fa-tag"></i> {{tag}}</a>
        {{/each}}

    </div>

{{/each}}

</div>
{{/if}}

{{#if shareables}}
<h1><i class="fa fa-file"></i> Documents de {{profile.login}}</h1>
<div class="list-container">
    {{#each shareables}}
    <div class="list-element">
        <a href="/shared/{{id}}" class="list-title">{{name}}</a>
        Par<a href="/user/{{author}}" class="meta user">{{author}}</a><div class="meta date">{{stringPublicationDate}}</div>
		<p>{{extract}}...</p>
        <a class="file-box" href="/shared/{{id}}">
            <img class="file-icon" src="/icons/ext/{{uploadedObject.extension}}.png"/> 
            <div class="file-description">
                <div class="file-name">{{uploadedObject.name}}</div>
                <div class="file-size">{{uploadedObject.stringSize}}</div>
            </div>
        </a>
        {{#each tags}}
        <a href="/search?tag={{tag}}" class="meta tag"><i class="fa fa-tag"></i> {{tag}}</a>
        {{/each}}
    </div>
    {{/each}}
</div>
{{/if}}


{{else}}
    Cet utilisateur n'existe pas !
{{/if}}

