<div class="page-title">
	{{#if article}}
		Editer un article
	{{else}}
		Nouvel article
	{{/if}}
</div>

<div class="article-content">

    <form method="post" action="{{apiCalled}}">
        <label>Titre de l'article</label>
		<input type="hidden" name="originalShortName" value="{{article.shortName}}">
        <input type="text" name="name" placeholder="Un nom cool" class="input-text list-title" required value="{{article.name}}">
        
        <label>Article</label>
        <textarea name="content" wrap="soft" required>{{article.content}}</textarea>
        
        <label>Tags</label>
        <input type="text" name="tags" placeholder="jeux-videos;tortues;ninja" class="input-text"  required value="{{#each article.tags}}{{tag}}; {{/each}}">
		<input type="hidden" name="_csrf" value="{{global.csrfToken}}">
        <input type="submit" value="{{#if shareable}}Modifier{{else}}Publier{{/if}}" class="button add">
    </form>
</div>